include pug/mixins
doctype html
html(lang='ru')
  include pug/_head
  body
    .container        
      include bem/header/_header
      h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
      .block
         