$primaryColor: darkcyan;
$secondaryColor: darkslategray;
$infoBG: #FFFFFF;

$darkshade-100: #1F2041;
$darkshade-75: rgba(31, 32, 65, 0.75);
$darkshade-50: rgba(31, 32, 65, 0.5);
$darkshade-25: rgba(31, 32, 65, 0.25);
$darkshade-5: rgba(31, 32, 65, 0.05);

$purple: #BC9CFF;
$green: #6FCF97;


//button
$btnheight: 44px;
$btnwidth: 320px;
$btnbg: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$border-radius: 22px;
$field-padding-vertical: 2px;
$field-padding-horizontal: 5px;
$line-height: 15px;
$text-color: #FFFFFF;

$min-width: 320px;



html {
  font-family: generalFont;
  display: block;
  @media (min-width: $min-width) {
    display: block;
    
  };

}

h1  {
  color: $darkshade-100;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  //line-height: 29px;
}
h2  {
  color: $darkshade-100;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}
h3  {
  color: $darkshade-100;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
body {
  color: $darkshade-75;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.container{
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 50px;
    background: url("../assets/bg.png");
    display: flex;
    justify-content: center;
  }
}